<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
  rel="stylesheet"
/>

<div class="ion-page">
  <ion-header>
    <ion-toolbar class="ios hydrated">
      <div style="display: flex; padding-left: 10px">
        <ion-icon
          name="arrow-back-outline"
          [routerLink]="['/../list-krs/']"
        ></ion-icon>
        <h3>Edit Study Plan</h3>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <ion-list lines="full">
      <form [formGroup]="updateKrsForm" (ngSubmit)="updateForm()">
        <ion-item>
          <ion-label position="floating">Student</ion-label>
          <ion-select formControlName="mahasiswa" required>
            <ion-select-option
              *ngFor="let mahasiswa of Mahasiswas"
              [value]="mahasiswa.$key"
            >
              {{ mahasiswa.nama_ms }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Subject</ion-label>
          <ion-select formControlName="matkul" required>
            <ion-select-option
              *ngFor="let matkul of Matkuls"
              [value]="matkul.$key"
            >
              {{ matkul.nama_mk }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-row>
          <ion-col>
            <div class="buttons">
              <ion-button type="submit" expand="block" class="buttons"
                >Update Study Plan</ion-button
              >
            </div>
          </ion-col>
        </ion-row>
      </form>
    </ion-list>
  </ion-content>
</div>
