<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
  rel="stylesheet"
/>

<div class="ion-page">
  <ion-content [fullscreen]="true">
    <ion-header
      collapse="condense"
      style="padding-top: 30px; padding-left: 10px"
    >
      <ion-toolbar>
        <div style="display: flex">
          <ion-icon
            name="arrow-back-outline"
            [routerLink]="['/tabs/tab1/']"
          ></ion-icon>
          <h3>KRS</h3>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-list>
      <ion-item-sliding *ngFor="let krs of Krss" class="user-list">
        <ion-item-options side="start">
          <ion-item-option
            [routerLink]="['/edit-krs/', krs.$key]"
            color="primary"
          >
            <ion-icon slot="icon-only" name="pencil"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="deleteKrs(krs.$key)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item>
          <ion-label>
            <h6 *ngIf="getMahasiswaName(krs.mahasiswa)">
              <ion-icon name="person"></ion-icon> {{
              getMahasiswaName(krs.mahasiswa) }}
            </h6>
            <p *ngIf="getMatkulName(krs.matkul)">
              {{ getMatkulName(krs.matkul) }}
            </p>
            <p *ngIf="getMatkulId(krs.matkul)">{{ getMatkulId(krs.matkul) }}</p>
            <p *ngIf="getMatkulDosen(krs.matkul)">
              <ion-icon name="school"></ion-icon> {{ getMatkulDosen(krs.matkul)
              }}
            </p>
            <p></p>
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button id="open-modal-add-krs">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-modal
      #modal
      trigger="open-modal-add-krs"
      [presentingElement]="presentingElement"
    >
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Tambah</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="canDismiss()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-list lines="full">
            <form [formGroup]="krsForm" (ngSubmit)="formSubmit()">
              <ion-item>
                <ion-label position="floating">Mahasiswa</ion-label>
                <ion-select formControlName="mahasiswa" required>
                  <ion-select-option
                    *ngFor="let mahasiswa of Mahasiswas"
                    [value]="mahasiswa.$key"
                  >
                    {{ mahasiswa.nama_ms }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Mata Kuliah</ion-label>
                <ion-select formControlName="matkul" required>
                  <ion-select-option
                    *ngFor="let matkul of Matkuls"
                    [value]="matkul.$key"
                  >
                    {{ matkul.nama_mk }} - {{ matkul.kode_mk }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-row>
                <ion-col>
                  <ion-button class="tambah" type="submit" expand="block"
                    >Tambah KRS</ion-button
                  >
                </ion-col>
              </ion-row>
            </form>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>
</div>
