<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
  rel="stylesheet"
/>

<ion-content>
  <div class="home-section ion-padding">
    <img src="../../assets/starter.png" alt="" class="img" />
    <div class="heading">
      <h1>Access easily!</h1>
      <p>
        EduPortal is an app designed to simplify the process of obtaining
        academic materials and information.
      </p>
    </div>
    <div class="buttons ion-padding-start ion-padding-end">
      <ion-button [routerLink]="['../login']"> <p>Let's Start</p></ion-button>
    </div>
  </div>
</ion-content>
