ion-content {
  --background: #eff6fd;
}

.heading {
  p {
    font-size: 22px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin-bottom: 15px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  width: 100%;
  height: 120px;
  background-color: #60b9eb;
  border-radius: 16px;
}

.gambar img {
  display: flex;
  justify-content: center;
  justify-content: center;
  width: 110px;
}

.text-header {
  text-align: left;
  color: rgb(255, 255, 255); /* warna teks */
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  span {
    font-size: 14px;
  }
}

.text {
  p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
  }
}

.categories {
  display: flex;
  justify-content: space-between;
}
.content {
  width: 48%;
  height: 120px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 5px 0px 5px 0px;
  .mhs {
    width: 90px;
    margin-top: 5px;
  }
  .mk {
    width: 90px;
    margin-top: 15px;
  }
  .ds {
    width: 70px;
    margin-top: 5px;
  }
  .krs {
    width: 85px;
    margin-top: 5px;
  }
}
